#include "windows.h"
#include "consts.h"
#include "dialog.h"
#define ESTADO 1
#define ILD_YES 1
#ifdef NEWEST_WATCOM
#include <\watcom\h\nt\winuser.h>
#endif

CladMenu MENUEX DISCARDABLE
   BEGIN
       POPUP "&File", IDM_FILE, MFT_STRING
          BEGIN
            MENUITEM "&Read sets from file" , IDM_OPEN , MFT_STRING
            MENUITEM "&Read sets from file && discard dupes" , IDM_OPEN_NODUPES , MFT_STRING
            MENUITEM "&Read sets from file (replacing)" , IDM_OPENANDREPLACE , MFT_STRING 
            POPUP "Supplementary data...", IDM_SUPPLEMENTARY , MFT_STRING
              BEGIN 
                MENUITEM "Read line definitions from file" , IDM_OPENLINEDEFS, MFT_STRING 
                MENUITEM "Read point records from file" , IDM_OPENPOINTSONLY , MFT_STRING 
                MENUITEM "Use comma separator to read lines" , IDM_USECOMMASEPARATS , MFT_STRING
                MENUITEM "Read point data as longitude-latitude" , IDM_READLONGLAT , MFT_STRING
              END 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "Create file for &output" , IDM_OPENOUTPUT , MFT_STRING  
            MENUITEM "Save &data to output file" , IDM_MATRIXSAVE , MFT_STRING
            POPUP "Save to output file" , IDM_COORDSAVE , MFT_STRING
              BEGIN
                MENUITEM "Data within current set" , IDM_PARTIALDATA , MFT_STRING
                MENUITEM "All coordinates" , IDM_COORDSAVEALL , MFT_STRING 
                MENUITEM "Check synonyms" , IDM_COORDSAVETYPOS , MFT_STRING 
                MENUITEM "Active species only" , IDM_COORDSAVEACTIVE , MFT_STRING
                MENUITEM "Find higher groups" , IDM_FINDHIGHER , MFT_STRING
                MENUITEM "List of species scoring in marked sets" , IDM_LIST_OF_SCORING_SPP , MFT_STRING
              END 
            MENUITEM "Save shrunk data..." , IDM_SHRINK , MFT_STRING
            POPUP "Write to file info on...", IDM_OPENWRITELIST , MFT_STRING
              BEGIN
                MENUITEM "Endemic species" , IDM_WRITESPPINFO , MFT_STRING 
                MENUITEM "Sets (=areas)" , IDM_WRITESETSINFO , MFT_STRING 
                MENUITEM "Areas for chosen species..." , IDM_JUDGESPECIESTXT , MFT_STRING
                MENUITEM "Consensus areas" , IDM_WRITECONSINFO , MFT_STRING
                MENUITEM "Overlaps" , IDM_REPORTOVERLAPS , MFT_STRING 
                MENUITEM "Data" , IDM_WRITEDATAINFO , MFT_STRING 
                MENUITEM "Everything!" , IDM_WRITEVERYTHING , MFT_STRING
              END
            MENUITEM "Close output file" , IDM_CLOSEOUTPUT , MFT_STRING
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "&Save to Log file" , IDM_SAVEDATA , MFT_STRING 
            MENUITEM "Save results only to Log file" , IDM_SAVEASS , MFT_STRING 
            MENUITEM "Save marked results to Log file" , IDM_SAVEMARKEDAREAS , MFT_STRING 
            MENUITEM "Save diagram as metafile" , IDM_CORELMETAFILE , MFT_STRING 
            POPUP "Save coordinates for GIS", IDM_SUPRALOLLIPOP , MFT_STRING
                BEGIN 
                MENUITEM "Save for GlobalMapper" , IDM_LOLLIPOP , MFT_STRING
                MENUITEM "Save for DIVAGIS" , IDM_DIVALOLLIPOP , MFT_STRING 
                END 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "Create &matrix from data points" , IDM_NEWMATRIX , MFT_STRING
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "e&Xit", IDM_EXIT, MFT_STRING
          END 
       POPUP "&Analyze", IDM_GETANALYZE, MFT_STRING
         BEGIN 
            MENUITEM "&Analyze with NDM" , IDM_SEARCH , MFT_STRING 
            MENUITEM "Create script to run Linux NDM" , IDM_OUTDESCRIBE , MFT_STRING 
            MENUITEM "Set &factors" , IDM_DFTFACTOR , MFT_STRING 
            MENUITEM "Set minimum species score" , IDM_SETMINIMUMSPSCORE , MFT_STRING 
            MENUITEM "Use edge proportions" , IDM_SETEDGEUSAGE , MFT_STRING 
            MENUITEM "Weight species", IDM_WEIGHTSPECIES , MFT_STRING 
            MENUITEM "&Parsimony analysis (assumed=0)" , IDM_TRADSEARCH , MFT_STRING 
            MENUITEM "Pa&rsimony analysis (assumed=1)" , IDM_SECTSEARCH , MFT_STRING 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "Optimize grid position" , IDM_CSSCYCLES , MFT_STRING 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "&Select active taxa" , IDM_MARKIDTAXA , MFT_STRING 
            MENUITEM "Get list of taxa to inactivate from file" , IDM_GETTAXA_TO_WIPE , MFT_STRING 
            MENUITEM "Write list of endemic taxa to output file" , IDM_LISTTAX , MFT_STRING 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "Consense areas..." , IDM_CONSENSUS , MFT_STRING
         END

       POPUP "&Settings", IDM_SETTINGS, MFT_STRING
         BEGIN 
            MENUITEM "Allow data/set edition", IDM_CHARDATAEDIT, MFT_STRING
            POPUP "Auto-edit", IDM_UNLOCKED, MFT_STRING
              BEGIN
                MENUITEM "Do not auto-edit" , IDM_SHOWNONE , MFT_STRING 
                MENUITEM " " , 0 , MFT_SEPARATOR
                MENUITEM "Make cells on/off" , IDM_SHOWADD , MFT_STRING 
                MENUITEM "Make cells assumed" , IDM_SORTTAXA , MFT_STRING 
                MENUITEM "Make cells defined/undefined" , IDM_SHOWACT , MFT_STRING 
              END
            MENUITEM "Query before overwrites/deletes" , IDM_BEEP , MFT_STRING 
            MENUITEM "Track mouse movements" , IDM_SELECTMOUSE , MFT_STRING 
            MENUITEM "Report score differences" , IDM_DESCRIBE , MFT_STRING 
            POPUP "Colors..." , IDM_COLORS , MFT_STRING 
              BEGIN 
               MENUITEM "Reset cell colors" , IDM_VARCOLORS , MFT_STRING 
               MENUITEM "Black and white" , IDM_BLACK , MFT_STRING 
              END
            MENUITEM "No queries" , IDM_MAKENOQUERIES , MFT_STRING 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "Set radius size" , IDM_SWITCHMATRIX , MFT_STRING 
            MENUITEM "Select species to plot" , IDM_TAXSTATS , MFT_STRING  
            MENUITEM "Show individual records" , IDM_RESOLUTION , MFT_STRING 
            MENUITEM "Set grid size and position" , IDM_INCREASEFONTSIZE , MFT_STRING  
            POPUP "System of coordinates..." , IDM_COORDINATESYSTEM , MFT_STRING 
              BEGIN 
                 MENUITEM "Transpose X-Y" , IDM_TRANSPOSEXY , MFT_STRING 
                 MENUITEM "Flip (on X)" , IDM_FLIPONX , MFT_STRING 
                 MENUITEM "Flip (on Y)" , IDM_FLIPONY , MFT_STRING 
                 MENUITEM "Back to start..." , IDM_BACKTOSTART , MFT_STRING 
              END   
            MENUITEM "Show points only" , IDM_ONLY_POINTS , MFT_STRING 
            MENUITEM "Define narrow  territory" , IDM_EXPANDVAR , MFT_STRING 
            MENUITEM " " , 0 , MFT_SEPARATOR
            MENUITEM "New map line" , IDM_NEWMAPLINE , MFT_STRING 
            MENUITEM "Hide map beyond grid" , IDM_HIDEMAP, MFT_STRING 
            MENUITEM "Last point edition..." , IDM_LASTPOINT , MFT_STRING 
            MENUITEM "Lock grid size (edit map only)" , IDM_LOCKGRID , MFT_STRING 
          END 
          
        POPUP "&Help" , IDM_CONSOLE , MFT_STRING , 
           BEGIN 
             MENUITEM "&Help", IDM_HELP, MFT_STRING
             MENUITEM "&Copyright Notice", IDM_COPYRIGHT, MFT_STRING
             MENUITEM "A&bout", IDM_ABOUT, MFT_STRING
           END 

       POPUP "A&ctions", IDM_MENUACTIONS , MFT_STRING
           BEGIN 
             MENUITEM "Mark sets in current group" , IDM_MARKSETSINCURCOMP , MFT_STRING 
             MENUITEM "Mark current set" , IDM_MARKAREAS, MFT_STRING
             MENUITEM "Un-mark current set", IDM_UNMARKAREAS, MFT_STRING
             MENUITEM "View marked sets", IDM_VIEWMARKS, MFT_STRING
             MENUITEM "Invert marks" , IDM_INVERTMARKS , MFT_STRING
             MENUITEM "Delete marked sets" , IDM_DELETEMARKS , MFT_STRING 
             MENUITEM "Delete un-marked sets" , IDM_DELETEUNMARKS , MFT_STRING 
             MENUITEM "Erase all marks", IDM_ERASEALLMARKS, MFT_STRING
             MENUITEM " " , 0 , MFT_SEPARATOR
             MENUITEM "Mark sets with species..." , IDM_JUDGESPECIESMRK , MFT_STRING
             MENUITEM " " , 0 , MFT_SEPARATOR
             MENUITEM "Show sets within current", IDM_INREFWITHIN, MFT_STRING
             MENUITEM "Show sets containing current", IDM_INREFCONTAINING, MFT_STRING
             MENUITEM "Show sets disjunct with current", IDM_INREFDISJUNCT, MFT_STRING
             MENUITEM "Show sets partly overlapping current", IDM_INREFPARTIAL, MFT_STRING
             MENUITEM "Show sets similar to current", IDM_SHOWSUPERSET , MFT_STRING
             MENUITEM " " , 0 , MFT_SEPARATOR
             MENUITEM "Show species distributions", IDM_SHOWALLSPECIES , MFT_STRING
             MENUITEM "Show scoring species", IDM_SHOWSCORINGSPECIES , MFT_STRING
             MENUITEM " " , 0 , MFT_SEPARATOR
             MENUITEM "Delete this set", IDM_DELETEVAR , MFT_STRING
             MENUITEM "Create a new (empty) set", IDM_CREATEANEWSET , MFT_STRING
             MENUITEM "Create a new set piling up marks", IDM_PILEUPMARKS , MFT_STRING
             MENUITEM "Create a new set from this species" , IDM_SETFROMSPECIES , MFT_STRING 
          END 
       
       MENUITEM "  <<  ", IDM_GOTOPREVSET , MFT_STRING
       MENUITEM "  >>  ", IDM_GOTONEXTSET , MFT_STRING


   END


GETCOMSTRINGDB DIALOG DISCARDABLE  98,98,125,50
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION "ajkajkajkajkajkajkaato line ..."
BEGIN
    CONTROL "OK",IDOK,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,78,28,35,14
    CONTROL "cancel",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,78,7,36,14
    CONTROL "",69,"EDIT",ES_AUTOHSCROLL | ES_AUTOVSCROLL | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,15,19,42,12
END


WAITDB DIALOG DISCARDABLE  84,98,174,50
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER
CAPTION "Please wait..."
BEGIN
    CONTROL "   akjakjakja kaj kaj akj akja kaj ",69,"STATIC",SS_NOPREFIX | WS_TABSTOP | WS_CHILD | SS_LEFT,8,20,158,12
END


SETCOLORDB DIALOG DISCARDABLE  38,71,139,91
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION "Set color ... " 
BEGIN
    CONTROL "",100,"EDIT",ES_WANTRETURN | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT ,17,12,30,12
    CONTROL "",101,"msctls_updown32",UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS  | UDS_ARROWKEYS | WS_CHILD,47,12,10,12
    CONTROL "",102,"EDIT",ES_WANTRETURN | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT ,17,29,30,12
    CONTROL "",103,"msctls_updown32",UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS  | UDS_ARROWKEYS | WS_CHILD,47,29,10,12
    CONTROL "",104,"EDIT",ES_WANTRETURN | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,17,46,30,12
    CONTROL "",105,"msctls_updown32",UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS  | UDS_ARROWKEYS | WS_CHILD,47,46,10,12
    CONTROL "Red",106,"STATIC",WS_CHILD | SS_LEFT,63,14,30,8
    CONTROL "Green",107,"STATIC",WS_CHILD | SS_LEFT,63,31,30,8
    CONTROL "Blue",108,"STATIC",WS_CHILD | SS_LEFT,63,48,30,8
    CONTROL "OK",IDOK,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,96,70,36,14
    CONTROL "Cancel",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,53,70,36,14
END

"VNDM" ICON "vndm.ico"

RUNNDMDB DIALOG DISCARDABLE  0,0,346,215
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
BEGIN
    CONTROL "OK",IDOK,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,288,187,36,14
    CONTROL "Cancel",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,246,187,36,14
    CONTROL "",111,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,106,6,30,12
    CONTROL "",112,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,299,17,30,12
    CONTROL "Temporarily save sets within ",113,"STATIC",WS_CHILD | SS_LEFT,8,7,96,11
    CONTROL "swap one cell at a time",114,"BUTTON",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD,16,52,88,12
    CONTROL "swap two cells at a time",115,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,16,65,92,12
    CONTROL "Use edge proportions",116,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,141,189,87,12
    CONTROL "of current score",117,"STATIC",WS_CHILD | SS_LEFT,139,7,58,8
    CONTROL "",118,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,61,23,30,12
    CONTROL "Save sets with score above",119,"STATIC",WS_CHILD | SS_LEFT,199,19,92,8
    CONTROL "Save sets with",120,"STATIC",WS_CHILD | SS_LEFT,8,25,51,8
    CONTROL "or more endemic spp. ",121,"STATIC",WS_CHILD | SS_LEFT,95,25,75,9
    CONTROL "",122,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,162,148,30,12
    CONTROL "If memory is filled during search, clean up to ",123,"STATIC",WS_CHILD | SS_LEFT,12,150,149,8
    CONTROL "times",124,"STATIC",WS_CHILD | SS_LEFT,198,150,22,8
    CONTROL "",125,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,52,132,47,12
    CONTROL "Save up to ",126,"STATIC",WS_CHILD | SS_LEFT,11,134,38,8
    CONTROL "sets",127,"STATIC",WS_CHILD | SS_LEFT,103,134,20,8
    CONTROL "Keep overlapping subsets if ",128,"STATIC",WS_CHILD | SS_LEFT,14,174,95,8
    CONTROL "",129,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,111,172,30,12
    CONTROL "% of species unique",130,"STATIC",WS_CHILD | SS_LEFT,146,174,67,8
    CONTROL "Type of swapping:    ",131,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,7,42,175,83
    CONTROL "Restrict search to sets contained",132,"STATIC",WS_CHILD | SS_LEFT,185,54,109,10
    CONTROL "",134,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,225,67,32,12
    CONTROL "within set",136,"STATIC",WS_CHILD | SS_LEFT,185,68,35,8
    CONTROL "as frame",158,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,265,68,40,12
    CONTROL "Constraints: ",137,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,181,42,139,42
    CONTROL "as starting point",139,"STATIC",WS_CHILD | SS_LEFT,198,103,55,8
    CONTROL "Use current sets",140,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,188,91,67,11
    CONTROL "",141,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,181,79,139,46
    CONTROL "Retain suboptimal sets ",142,"STATIC",WS_CHILD | SS_LEFT,14,192,79,8
    CONTROL "",143,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,96,189,30,12
    CONTROL "Precheck duplicates...",144,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,17,108,85,13
    CONTROL "Discard superfluous sets as they're found...  ",145,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,17,80,160,12
    CONTROL "Replace a set if improved during swapping...",146,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,17,94,160,12
    CONTROL "",147,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,7,120,224,47
    CONTROL "",148,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,7,162,224,46
    CONTROL "Replace ",149,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD,259,90,49,11
    CONTROL "existing sets",150,"STATIC",WS_CHILD | SS_LEFT,269,103,44,8
    CONTROL "",151,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,239,134,30,14
    CONTROL "",152,"msctls_updown32",UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS  | UDS_ARROWKEYS | WS_CHILD,269,134,11,14
    CONTROL "random seed",153,"STATIC",WS_CHILD | SS_LEFT,286,136,45,8

CONTROL "Repeat search..." , 154 , "STATIC" , WS_CHILD | SS_LEFT, 240,153,70,8
CONTROL "",155,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,265,163,30,14
CONTROL "",156,"msctls_updown32",UDS_NOTHOUSANDS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS  | UDS_ARROWKEYS | WS_CHILD,295,163,11,14
CONTROL "times" , 157 , "STATIC" , WS_CHILD | SS_LEFT, 310,163,50,8



END

FIAODNDB DIALOG  20,17,252,104
STYLE WS_POPUPWINDOW | WS_VISIBLE
BEGIN
    CONTROL "OK",IDOK,"button",BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,200,57,40,16
    CONTROL "Cancel",IDCANCEL,"button",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,200,35,40,16
    CONTROL "",104,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,21,11,30,14
    CONTROL "",105,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,129,11,30,14
    CONTROL "",106,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,21,33,30,14
    CONTROL "inferred presences",110,"STATIC",WS_CHILD | SS_LEFT,56,14,63,8
    CONTROL "assumed presences",111,"STATIC",WS_CHILD | SS_LEFT,164,14,68,8
    CONTROL "external (adjacent) records",112,"STATIC",WS_CHILD | SS_LEFT,56,36,89,8
    CONTROL "external (adjacent) assumed records",113,"STATIC",WS_CHILD | SS_LEFT,56,58,121,8
    CONTROL "",114,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,21,55,30,14
    CONTROL "",115,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,21,77,30,14
    CONTROL "external (non-adjacent) assumed records",116,"STATIC",WS_CHILD | SS_LEFT,56,80,168,8
END

SELECTDB DIALOG  30,20,300,160
STYLE WS_POPUPWINDOW | DS_MODALFRAME | WS_VISIBLE | WS_CLIPSIBLINGS | WS_DLGFRAME | WS_THICKFRAME | WS_MAXIMIZEBOX 
CAPTION "Select ... "
FONT 8,"Helv"
BEGIN
    CONTROL "OK",IDOK,"button",BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,290,159,40,16
    CONTROL "Cancel",IDCANCEL,"button",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,290,179,40,16
    CONTROL "Selected",107,"STATIC",WS_CHILD | SS_LEFT,19,19,144,10
    CONTROL "",105,"LISTBOX",  LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | LBS_NOREDRAW | LBS_NOTIFY | WS_CHILD | WS_BORDER | WS_VSCROLL,17,33,146,121
    CONTROL "Unselected",108,"STATIC",WS_CHILD | SS_LEFT,221,19,142,10
    CONTROL "",106,"LISTBOX",  LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | LBS_NOREDRAW | LBS_NOTIFY | WS_CHILD | WS_BORDER | WS_VSCROLL,218,33,146,121
    CONTROL "Type name/number:",212,"STATIC",WS_CHILD | SS_LEFT,21,158,65,10
    CONTROL "",111,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,19,172,145,15
    CONTROL "> > >",109,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,173,68,36,14
    CONTROL "< < <",110,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,173,88,36,14
    CONTROL "invert",112,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,173,108,36,14
END


RADIUSSIZEDB DIALOG  72,74,269,115
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
FONT 8,"MS Sans Serif"
BEGIN
    CONTROL "OK",IDOK,"button",BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,220,90,39,15
    CONTROL "Cancel",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,167,90,39,15
    CONTROL "Width ( X ) ",106,"STATIC",WS_CHILD | SS_LEFT,18,33,44,8
    CONTROL "",107,"EDIT",ES_WANTRETURN | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,65,30,40,14
    CONTROL "",114,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | WS_CHILD,106,30,11,14
    CONTROL "Height ( Y )",110,"STATIC",WS_CHILD | SS_LEFT,18,59,42,8
    CONTROL "",111,"EDIT",ES_WANTRETURN | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,65,55,40,14
    CONTROL "",115,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | WS_CHILD,106,55,11,14
    CONTROL "Radius size to fill . . . ",117,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,7,11,118,67
    CONTROL "Radius size to assume . . .",118,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,136,11,118,67
    CONTROL "Width ( X ) ",119,"STATIC",WS_CHILD | SS_LEFT,143,33,38,8
    CONTROL "Height ( Y ) ",120,"STATIC",WS_CHILD | SS_LEFT,147,59,40,8
    CONTROL "",121,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,188,30,40,14
    CONTROL "",123,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | WS_CHILD , 229,30,11,14
    CONTROL "",122,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,188,55,40,14
    CONTROL "",124,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | WS_CHILD , 229,55,11,14
END

GRIDSIZEPOSDB DIALOG  97,67,178,144
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
FONT 8,"MS Sans Serif"
BEGIN
    CONTROL "X = ",103,"STATIC",WS_CHILD | SS_LEFT,20,21,15,8
    CONTROL "",104,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,38,18,38,14
    CONTROL "Y = ",105,"STATIC",WS_CHILD | SS_LEFT,91,21,16,8
    CONTROL "",106,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,110,18,38,14
    CONTROL "X = ",107,"STATIC",WS_CHILD | SS_LEFT,19,76,16,8
    CONTROL "",108,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,37,72,38,14
    CONTROL "Y = ",109,"STATIC",WS_CHILD | SS_LEFT,90,76,15,8
    CONTROL "",110,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,109,72,38,14
    CONTROL "AUTO!" , 120 , "BUTTON", WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,10,122,40,15
    CONTROL "OK",IDOK,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,126,122,40,15
    CONTROL "CANCEL",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,79,122,40,15
    CONTROL "Cell size ",113,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,11,5,150,50
    CONTROL "Grid origin ",114,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,12,61,150,53
    CONTROL "ctrl-arrow changes grid origin",115,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,18,91,115,12
    CONTROL "ctrl-arrow changes cell size ",116,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,18,37,108,12
END


LASTPOINTMODEDB DIALOG  30,30,180,76
STYLE WS_POPUPWINDOW | DS_MODALFRAME | WS_VISIBLE | WS_CLIPSIBLINGS | WS_DLGFRAME
CAPTION "Edit last point ... "
FONT 8,"MS Sans Serif"
BEGIN
    CONTROL "OK",IDOK,"button",BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,124,50,40,15
    CONTROL "Cancel",IDCANCEL,"button",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,77,50,40,15
    CONTROL "... moving it to the new position",102,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,23,10,115,12
    CONTROL "... adding a new segment to the line",103,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,23,27,141,12
END


0 BITMAP density0.bmp
1 BITMAP density1.bmp
2 BITMAP density2.bmp
3 BITMAP density3.bmp
4 BITMAP density4.bmp
5 BITMAP density5.bmp
6 BITMAP density6.bmp
7 BITMAP density7.bmp

10 BITMAP filling0.bmp
11 BITMAP filling1.bmp
12 BITMAP filling2.bmp
13 BITMAP filling3.bmp
14 BITMAP filling4.bmp
15 BITMAP filling5.bmp
16 BITMAP filling6.bmp
17 BITMAP filling7.bmp


CONSOPTDB DIALOG  30,18,213,137
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8,"MS Sans Serif"
BEGIN
    CONTROL "OK",IDOK,"button",BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,165,110,36,14
    CONTROL "Cancel",IDCANCEL,"button",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,123,110,36,14
    CONTROL "Consense areas with cut-off ",108,"STATIC",WS_CHILD | SS_LEFT,10,12,92,8
    CONTROL "",109,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,112,15,36,14
    CONTROL "",110,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | WS_CHILD,149,15,11,14
    CONTROL "Include an area if cut-off is ok... ",112,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,8,46,190,50
    CONTROL "against each of the other areas in the consensus",113,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,21,59,173,12
    CONTROL "against any of the other areas in the consensus",114,"BUTTON",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_CHILD,21,73,171,12
    CONTROL "( % similarity in species )",115,"STATIC",WS_CHILD | SS_LEFT,11,24,84,8
END

FAKEGRIDSIZEPOSDB DIALOG  97,67,178,144
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
FONT 8,"MS Sans Serif"
BEGIN
    CONTROL "L = ",103,"STATIC",WS_CHILD | SS_LEFT,20,21,15,8
    CONTROL "",104,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,38,18,38,14
    CONTROL "R = ",105,"STATIC",WS_CHILD | SS_LEFT,91,21,16,8
    CONTROL "",106,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,110,18,38,14

    CONTROL "For col. = ",123,"STATIC",WS_CHILD | SS_LEFT,20,40,25,8
    CONTROL "",124,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,50,37,38,14

    CONTROL "Up = ",107,"STATIC",WS_CHILD | SS_LEFT,19,76,16,8
    CONTROL "",108,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,37,73,38,14
    CONTROL "Dn = ",109,"STATIC",WS_CHILD | SS_LEFT,90,76,15,8
    CONTROL "",110,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,109,73,38,14

    CONTROL "For row = ",133,"STATIC",WS_CHILD | SS_LEFT,20,96,25,8
    CONTROL "",134,"EDIT",WS_TABSTOP | WS_CHILD | WS_BORDER | ES_LEFT,50,93,38,14

    CONTROL "OK",IDOK,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,126,122,40,15
    CONTROL "CANCEL",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,79,122,40,15
    CONTROL "X-coordinate",113,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,11,5,150,50
    CONTROL "Y-coordinate",114,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,12,61,150,53

END

MATRIXSHRINKDB DIALOG DISCARDABLE  50,40,185,130
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
BEGIN
    CONTROL "OK",IDOK,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,                130,105,35,14
    CONTROL "Cancel",IDCANCEL,"BUTTON",WS_TABSTOP | WS_CHILD | BS_PUSHBUTTON,         90,105,35,14
    CONTROL "Number of rows",101,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,        10,  5, 70,95
    CONTROL "same",111,"BUTTON",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD,25, 20,45,12
    CONTROL "1/2",112,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD, 25, 35,45,12
    CONTROL "1/3",113,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD, 25, 50,45,12
    CONTROL "1/4",114,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD, 25, 65,45,12
    CONTROL "1/5",115,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD, 25, 80,45,12
    CONTROL "Number of cols",102,"BUTTON",BS_GROUPBOX | WS_TABSTOP | WS_CHILD,        90,  5, 70,95
    CONTROL "same",211,"BUTTON",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP |WS_CHILD,105, 20,45,12
    CONTROL "1/2",212,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD,105, 35,45,12
    CONTROL "1/3",213,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD,105, 50,45,12
    CONTROL "1/4",214,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD,105, 65,45,12
    CONTROL "1/5",215,"BUTTON",BS_AUTORADIOBUTTON |            WS_TABSTOP | WS_CHILD,105, 80,45,12
END 





